<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container">
    <div class="jumbotron jumbo none-border-bottom">
      <!-- No order -->
      <div class="container" ng-show="cartOrders.length === 0">
        <div class="col-md-12">
          <div class="row marketing text-center">
            <h1>Matkassen är tom</h1>
            <p>Gå till <a href="#/home">Meny</a> för att lägga till varor</p>
          </div>
        </div>
      </div>
      <div class="container" ng-show="cartOrders.length > 0">
        <div class="row">
          <div class="col-md-12">
            <div class="row marketing text-center">
              <h3>Varukorg</h3>
              <h1>{{ calculateSum() }} kr</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-success" ng-click="placeOrders()">Gå till betalning</button>
        </div>
        <div class="row">
          <div class="page-header none-border-bottom">
            <h3>{{cartOrders.length}} rätter valda</h3>
            <dl>
              <table class="table table-hover">
                <tr ng-repeat="o in cartOrders track by $index">
                  <td>
                    <dl>
                      <dt>{{o.product.name}} av <a href="#/chef/{{o.chef.id}}">{{o.chef.firstname}}</a></dt>
                      <dd>{{o.product.description}}</dd>
                      <dt>{{o.adultPrice}} kr</dt>
                    </dl>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" ng-click="removeOrder(o)">Ta bort</button>
                    </div>
                  </td>
                </tr>
              </table>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
