<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container-fluid">
    <!-- <div class="row" ng-style="{'background-image':'url(/data/images/backgrounds_green_flower.jpg)'}"> -->
    <div class="row" ng-style="{'background-color':'#8CCBF2'}">
      <div class="chef-profile-backgound">
        <div class="container">
          <div class="chef-profile-avatar">
            <a href="#" class="thumbnail">
              <!-- <img src="{{chef.images.thumbnail}}"> -->
              <img src="/images/Swedishchef.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div ng-show="chef.$edit !== true">
            <h3>{{profile.firstname}} {{profile.lastname}} <span><a class="btn btn-default" role="button" ng-click="beginEditProfile()">Ändra</a></span></h3>
            <p>{{chef.bio}}</p>
          </div>
          <!-- Konto -->
          <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="chef.$edit === true">
            <div class="panel-body">
              <form class="form">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="chef.$firstname">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="chef.$lastname">
                </div>
                <div class="form-group">
                  <textarea type="text" class="form-control" ng-model="chef.$bio"></textarea>
                </div>
                <button type="submit" class="btn btn-success" ng-click="commitEditProfile(chef)">Spara profil</button>
                <button type="submit" class="btn btn-default" ng-click="cancelEditProfile(chef)">Avbryt</button>
              </form>
            </div>
          </div>
          <div class="list-group">
            <a class="list-group-item" ng-class="{active: tab===TABS.MENU}" ng-click="tab=TABS.MENU">Meny</a>
            <a class="list-group-item" ng-class="{active: tab===TABS.PRODUCTS}" ng-click="tab=TABS.PRODUCTS">Rätter</a>
          </div>
        </div>
        <div class="col-md-8">
          <!-- Meny -->
          <div class="jumbotron jumbo none-border-bottom chef-settings" ng-show="tab === TABS.MENU">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>Din meny <span><button type="submit" class="btn btn-success" ng-click="createOffer()">Lägg till</button></span></h3>
                  <!-- Day -->
                  <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="newOffer!=undefined">
                    <div class="panel-body">
                      <div class="alert alert-danger" ng-show="error!=null">{{error}}</div>
                      <form class="form">
                        <div class="form-group">
                          <label class="pull-left" for="inputProduct">Produkt</label>
                          <select class="form-control" name="mySelect" id="inputProduct" ng-options="product.name for product in products track by product.id" ng-model="newOffer.product">
                            <option value="" selected hidden>Välj rätt</option>
                          </select>
                        </div>
                        <div ng-show="newOffer.product!==undefined">
                          <div class="form-group">
                            <label class="pull-left" for="inputPrice">Pris</label>
                            <input type="text" id="inputPrice" class="form-control" ng-model="newOffer.adultPrice" placeholder="Ange pris">
                          </div>
                          <div class="form-group">
                            <label class="pull-left" for="inputDeliveryDate">Leveransdag</label>
                            <input type="text" id="inputDeliveryDate" class="form-control" ng-model="newOffer.deliveryDate" placeholder="Ange leveransdag">
                          </div>
                          <div class="form-group">
                            <label class="pull-left" for="inputLastOrderDate">Sista beställningsdag</label>
                            <input type="text" id="inputLastOrderDate" class="form-control" ng-model="newOffer.lastOrderDate" placeholder="Ange sista beställningsdag">
                          </div>
                          <div class="form-group">
                            <label class="pull-left" for="inputMinOrders">Minst antal beställningar</label>
                            <input type="text" id="inputMinOrders" class="form-control" ng-model="newOffer.minOrders" placeholder="Ange minst antal beställningar">
                          </div>
                          <div class="form-group">
                            <label class="pull-left" for="inputMaxOrders">Max antal beställningar</label>
                            <input type="text" class="form-control" ng-model="newOffer.maxOrders" placeholder="Ange max antal beställningar">
                          </div>
                          <button type="submit" class="btn btn-success" ng-click="saveOffer(newOffer)">Spara</button>
                          <button type="submit" class="btn btn-default" ng-click="cancelOffer()">Avbryt</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-repeat="dateAndOffer in dateAndOffers | orderBy: 'sortDate'">
              <div class="border-bottom-line margin-bottom-small">
                <h4 class="text-center">{{dateAndOffer.moment}}</h4>
              </div>
              <div ng-repeat="offer in dateAndOffer.offers" class="col-md-12">
                <div class="thumbnail">
                  <img ng-src="{{offer.chef.thumbnail}}">
                  <div class="caption">
                    <h4>{{offer.product.name}} <span class="pull-right">{{offer.adultPrice}} kr</span></h4>
                    <p>{{offer.product.description}}</p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{offer.currentOrders}}" aria-valuemin="0" aria-valuemax="{{offer.maxOrders}}" style="width: {{offer.currentOrders*10}}%">
                        <span class="sr-only"></span>
                      </div>
                      <!--                   <div class="progress-bar progress-bar-warning" style="width: 20%">
                    <span class="sr-only"></span>
                  </div> -->
                    </div>
                    <ul class="list-inline">
                      <li>
                        <dl>
                          <dt>{{offer.currentOrders}} st</dt>
                          <dd>beställda</dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>{{offer.minOrders}} st</dt>
                          <dd>minst</dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>{{offer.maxOrders}} st</dt>
                          <dd>högst</dd>
                        </dl>
                      </li>
                    </ul>
                    <div class="btn-group" role="group" ng-show="offer.$delete==undefined">
                      <button type="button" class="btn btn-default" ng-click="offer.$delete=true">Ta bort</button>
                    </div>
                    <div class="btn-group" role="group" ng-show="offer.$delete==true">
                      <h5>Är du säker på att tabort {{offer.product.name}}?</h5>
                      <button type="button" class="btn btn-danger" ng-click="removeOffer(offer)">Japp</button>
                      <button type="button" class="btn btn-default" ng-click="offer.$delete=undefined">Avbryt</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Products -->
          <div class="jumbotron jumbo none-border-bottom chef-settings" ng-show="tab === TABS.PRODUCTS">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>Dina {{products.length}} rätter <span><button type="submit" class="btn btn-success" ng-click="createProduct()">Lägg till</button></span></h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="newProduct!==undefined">
                <div class="panel-body">
                  <!-- Produkt -->
                  <form class="form">
                    <div class="form-group">
                      <label class="pull-left" for="inputNewProductName">Namn</label>
                      <input type="text" id="inputNewProductName" class="form-control" ng-model="newproduct.name" placeholder="Rättens namn">
                    </div>
                    <div class="form-group">
                      <label class="pull-left" for="inputNewProductDescription">Beskrivning</label>
                      <input type="text" class="form-control" ng-model="newproduct.description" placeholder="Kort beskrivning">
                    </div>
                    <div class="form-group">
                      <label class="pull-left" for="inputNewProductIngredients">Ingredienser</label>
                      <input type="text" class="form-control" ng-model="newproduct.ingredients" placeholder="Ingredienser i rätten">
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="addProduct(newproduct)">Spara</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelProduct()">Avbryt</button>
                  </form>
                </div>
              </div>
              <div class="table-responsive">
                <div class="alert alert-danger" ng-show="error!==undefined">{{error}}</div>
                <table class="table table-hover">
                  <tr ng-repeat="p in products | orderBy:'name'">
                    <td ng-show="p.$edit==undefined">
                      <dl>
                        <dt>{{p.name}}</dt>
                        <dd>{{p.description}}</dd>
                        <dd>{{p.ingredients}}</dd>
                      </dl>
                      <div class="btn-group" role="group" ng-show="p.$delete==undefined">
                        <a class="btn btn-default" role="button" ng-click="beginEditProduct(p)">Ändra</a>
                        <a class="btn btn-default" role="button" ng-click="p.$delete=true">Tabort</a>
                      </div>
                      <div class="btn-group" role="group" ng-show="p.$delete==true">
                        <h5>Är du säker på att tabort {{p.name}}?</h5>
                        <button type="button" class="btn btn-danger" ng-click="removeProduct(p)">Japp</button>
                        <button type="button" class="btn btn-default" ng-click="p.$delete=undefined">Avbryt</button>
                      </div>
                    </td>
                    <td ng-show="p.$edit==true">
                      <!-- Edit product -->
                      <div class="panel panel-default border-none box-shadow-none background-edit">
                        <div class="panel-body">
                          <form class="form">
                            <div class="form-group">
                              <label class="pull-left" for="inputNewProductName">Namn</label>
                              <input type="text" id="inputNewProductName" class="form-control" ng-model="p.$name" placeholder="Rättens namn">
                            </div>
                            <div class="form-group">
                              <label class="pull-left" for="inputNewProductDescription">Beskrivning</label>
                              <input type="text" class="form-control" ng-model="p.$description" placeholder="Kort beskrivning">
                            </div>
                            <div class="form-group">
                              <label class="pull-left" for="inputNewProductIngredients">Ingredienser</label>
                              <input type="text" class="form-control" ng-model="p.$ingredients" placeholder="Ingredienser i rätten">
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="commitEditProduct(p)">Spara</button>
                            <button type="submit" class="btn btn-default" ng-click="cancelEditProduct(p)">Avbryt</button>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
