<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container-fluid">
    <!-- <div class="row" ng-style="{'background-image':'url(/data/images/backgrounds_green_flower.jpg)'}"> -->
    <div class="row" ng-style="{'background-color':'#8CCBF2'}">
      <div class="chef-profile-backgound">
        <div class="container">
          <div class="chef-profile-avatar">
            <a class="thumbnail">
              <!-- <img src="{{chef.images.thumbnail}}"> -->
              <img src="/images/Swedishchef.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <h3>{{chef.firstname}} {{chef.lastname}}</h3>
            <p>{{chef.bio}}</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="page-header none-border-bottom">
            <ul class="nav nav-tabs nav-justified">
              <li role="presentation" ng-class="{active: tab===TABS.MENU}" ng-click="tab=TABS.MENU"><a>Meny</a></li>
              <!-- <li role="presentation" ng-class="{active: tab===TABS.CATERING}" ng-click="tab=TABS.CATERING"><a>Catering</a></li> -->
              <li role="presentation" ng-class="{active: tab===TABS.PRODUCTS}" ng-click="tab=TABS.PRODUCTS"><a>Rätter</a></li>
            </ul>
          </div>
          <!-- Meny -->
          <div class="jumbotron jumbo none-border-bottom padding-top-none" ng-show="tab === TABS.MENU">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>{{chef.firstname}}'s meny </h3>
                </div>
              </div>
            </div>
            <div class="row" ng-repeat="dateAndOffer in dateAndOffers | orderBy: 'sortDate'">
              <div class="border-bottom-line margin-bottom-small">
                <h4 class="text-center">{{dateAndOffer.moment}}</h4>
              </div>
              <div ng-repeat="offer in dateAndOffer.offers" class="col-md-12">
                <div class="thumbnail">
                  <img ng-src="{{offer.chef.thumbnail}}">
                  <div class="caption">
                    <h4>{{offer.product.name}} <span class="pull-right">{{offer.adultPrice}} kr</span></h4>
                    <p>{{offer.product.description}}</p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{offer.currentOrders}}" aria-valuemin="0" aria-valuemax="{{offer.maxOrders}}" style="width: {{offer.currentOrders*10}}%">
                        <span class="sr-only"></span>
                      </div>
                    </div>
                    <ul class="list-inline">
                      <li>
                        <dl>
                          <dt>{{offer.currentOrders}} st</dt>
                          <dd>beställda</dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>{{offer.minOrders}} st</dt>
                          <dd>minst</dd>
                        </dl>
                      </li>
                      <li>
                        <dl>
                          <dt>{{offer.maxOrders}} st</dt>
                          <dd>högst</dd>
                        </dl>
                      </li>
                    </ul>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" ng-click="order(offer)">Lägg i matkassen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Products -->
          <div class="jumbotron jumbo none-border-bottom padding-top-none" ng-show="tab === TABS.PRODUCTS">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>{{chef.firstname}}'s rätter </h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tr ng-repeat="p in products | orderBy:'name'">
                    <td>
                      <dl>
                        <dt>{{p.name}}</dt>
                        <dd>{{p.description}}</dd>
                        <dd>{{p.ingredients}}</dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<cart-navbar></cart-navbar>
