<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container-fluid">
    <div class="row" ng-style="{'background-image':'url(/data/images/backgrounds_green_flower.jpg)'}">
      <div class="chef-profile-backgound">
        <div class="container">
          <div class="chef-profile-avatar">
            <a href="#" class="thumbnail">
              <img src="{{chef.images.thumbnail}}">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div ng-show="chef.$edit !== true">
            <h3>{{chef.firstname}} {{chef.lastname}} <span><a class="btn btn-default" role="button" ng-click="editProfile()">Ändra</a></span></h3>
            <p>{{chef.bio}}</p>
          </div>
          <!-- Konto -->
          <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="chef.$edit === true">
            <div class="panel-body">
              <form class="form">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="chef.$firstname">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="chef.$lastname">
                </div>
                <div class="form-group">
                  <textarea type="text" class="form-control" ng-model="chef.$bio"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="cancelProfile(chef)">Cancel</button>
                <button type="submit" class="btn btn-success" ng-click="saveProfile(chef)">Spara profil</button>
              </form>
            </div>
          </div>
          <div class="list-group">
            <a class="list-group-item" ng-class="{active: tab===TABS.MENU}" ng-click="tab=TABS.MENU">Meny</a>
            <a class="list-group-item" ng-class="{active: tab===TABS.PRODUCTS}" ng-click="tab=TABS.PRODUCTS">Rätter</a>
          </div>
        </div>
        <div class="col-md-8">
          <!-- Meny -->
          <div class="jumbotron jumbo none-border-bottom chef-settings" ng-show="tab === TABS.MENU">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>Din meny <span><button type="submit" class="btn btn-success" ng-click="createOffer()">Lägg till dag</button></span></h3>
                  <!-- Day -->
                  <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="newOffer!=undefined">
                    <div class="panel-body">
                      <div class="alert alert-danger" ng-show="error!=null">{{error}}</div>
                      <form class="form">
                        <div class="form-group">
                          <label class="pull-left" for="inputProduct">Produkt</label>
                          <select class="form-control" name="mySelect" id="inputProduct" ng-options="product.name for product in products track by product.id" ng-model="newOffer.product">
                            <option value="" selected hidden>Välj rätt</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="pull-left" for="inputPrice">Pris</label>
                          <input type="text" id="inputPrice" class="form-control" ng-model="newOffer.adultPrice" placeholder="Ange pris">
                        </div>
                        <div class="form-group">
                          <label class="pull-left" for="inputDeliveryDate">Leveransdag</label>
                          <input type="text" id="inputDeliveryDate" class="form-control" ng-model="newOffer.deliveryDate" placeholder="Ange leveransdag">
                        </div>
                        <div class="form-group">
                          <label class="pull-left" for="inputLastOrderDate">Sista beställningsdag</label>
                          <input type="text" id="inputLastOrderDate" class="form-control" ng-model="newOffer.lastOrderDate" placeholder="Ange sista beställningsdag">
                        </div>
                        <div class="form-group">
                          <label class="pull-left" for="inputMinOrders">Minst antal beställningar</label>
                          <input type="text" id="inputMinOrders" class="form-control" ng-model="newOffer.minOrders" placeholder="Ange minst antal beställningar">
                        </div>
                        <div class="form-group">
                          <label class="pull-left" for="inputMaxOrders">Max antal beställningar</label>
                          <input type="text" class="form-control" ng-model="newOffer.maxOrders" placeholder="Ange max antal beställningar">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="cancelOffer()">Cancel</button>
                        <button type="submit" class="btn btn-success" ng-click="saveOffer(newOffer)">Spara dag</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-repeat="d in menu track by $index">
                <h3>{{d.deliveryDate}}</h3>
                <h5>{{d.lastOrderDate}}</h5>
                <p>{{d.product.name}}</p>
                <p>{{d.product.description}}</p>
                <p>{{d.product.ingredients}}</p>
                <h4>{{d.adultPrice}} kr</h4>
                <h4><small>Min</small> {{d.minOrders}}</h4>
                <h4><small>Max</small> {{d.maxOrders}}</h4>
                <a class="btn btn-default" role="button" ng-click="removeOffer(d)">Tabort</a>
              </div>
            </div>
          </div>
          <!-- Products -->
          <div class="jumbotron jumbo none-border-bottom chef-settings" ng-show="tab === TABS.PRODUCTS">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>Dina rätter  <span><button type="submit" class="btn btn-success" ng-click="createProduct()">Lägg till</button></span></h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="newProduct!==undefined">
                <div class="panel-body">
                  <div class="alert alert-danger" ng-show="error!=null">{{error}}</div>
                  <!-- Produkt -->
                  <form class="form">
                    <div class="form-group">
                      <label class="pull-left" for="inputNewProductName">Namn</label>
                      <input type="text" id="inputNewProductName" class="form-control" ng-model="newproduct.name" placeholder="Rättens namn">
                    </div>
                    <div class="form-group">
                      <label class="pull-left" for="inputNewProductDescription">Beskrivning</label>
                      <input type="text" class="form-control" ng-model="newproduct.description" placeholder="Kort beskrivning">
                    </div>
                    <div class="form-group">
                      <label class="pull-left" for="inputNewProductIngredients">Ingredients</label>
                      <input type="text" class="form-control" ng-model="newproduct.ingredients" placeholder="Ingredienser i rätten">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="cancelProduct()">Cancel</button>
                    <button type="submit" class="btn btn-success" ng-click="saveProduct(newproduct)">Spara</button>
                  </form>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <tr ng-repeat="p in products | orderBy:'name'">
                    <td>
                      <dl>
                        <dt>{{p.name}}</dt>
                        <dd>{{p.description}}</dd>
                        <dd>{{p.ingredients}}</dd>
                      </dl>
                      <a class="btn btn-default" role="button" ng-click="removeProduct(p)">Tabort</a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>