<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container-fluid">
    <div class="row" ng-style="{'background-image':'url(/data/images/backgrounds_green_flower.jpg)'}">
      <div class="chef-profile-backgound">
        <div class="container">
          <div class="chef-profile-avatar">
            <a href="#" class="thumbnail">
              <img src="{{chef.images.thumbnail}}">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div ng-show="chef.$edit !== true">
            <h3>{{chef.firstname}} {{chef.lastname}} <span><a class="btn btn-default" role="button" ng-click="editProfile()">Ändra</a></span></h3>
            <p>{{chef.bio}}</p>
          </div>
          <!-- Konto -->
          <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="chef.$edit === true">
            <div class="panel-body">
              <form class="form">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="chef.$firstname">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="chef.$lastname">
                </div>
                <div class="form-group">
                  <textarea type="text" class="form-control" ng-model="chef.$bio"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="cancelProfile(chef)">Cancel</button>
                <button type="submit" class="btn btn-success" ng-click="saveProfile(chef)">Spara profil</button>
              </form>
            </div>
          </div>
          <div class="list-group">
            <a class="list-group-item" ng-class="{active: tab===TABS.MENU}" ng-click="tab=TABS.MENU">Meny</a>
            <a class="list-group-item" ng-class="{active: tab===TABS.PRODUCTS}" ng-click="tab=TABS.PRODUCTS">Rätter</a>
          </div>
        </div>
        <div class="col-md-8">
          <!-- Meny -->
          <div class="jumbotron jumbo none-border-bottom chef-settings" ng-show="tab === TABS.MENU">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>Din meny <span><button type="submit" class="btn btn-success" ng-click="addNewDay()">Lägg till dag</button></span></h3>
                  <!-- Day -->
                  <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="newDay!=undefined">
                    <div class="panel-body">
                      <form class="form">
                        <div class="form-group">
                          <select class="form-control" ng-options="day.name for day in DAYS track by day.id" ng-model="newday.date">
                            <option value="" selected hidden>Välj dag</option>                            
                          </select>
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="mySelect" id="mySelect" ng-options="product.name for product in products track by product.id" ng-model="newday.product">
                            <option value="" selected hidden>Välj rätt</option>
                          </select>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="cancelNewDay()">Cancel</button>
                        <button type="submit" class="btn btn-success" ng-click="saveNewDay(newday)">Spara dag</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
<!--               <h2>Vecka {{menu.week}}</h2>
              <nav>
                <ul class="pager">
                  <li ng-click="previousWeek()"><a>Föregående</a></li>
                  <li ng-click="nextWeek()"><a>Nästa</a></li>
                </ul>
              </nav> -->
              <div ng-repeat="d in menu.days track by $index">
                <h3>{{d.name}} <a class="btn btn-default" role="button">Tabort</a></h3>
                <p>{{d.product.name}}</p>
                <h4>{{d.product.price}} kr</h4>
                <h4>{{d.info.maxPortions}}</h4>
              </div>
            </div>
          </div>
          <!-- Products -->
          <div class="jumbotron jumbo none-border-bottom chef-settings" ng-show="tab === TABS.PRODUCTS">
            <div class="container">
              <div class="row">
                <div class="page-header none-border-bottom">
                  <h3>Dina rätter  <span><button type="submit" class="btn btn-success" ng-click="addNewProduct()">Lägg till rätt</button></span></h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="panel panel-default border-none box-shadow-none background-edit" ng-show="newProduct!==undefined">
                <div class="panel-body">
                  <!-- Produkt -->
                  <form class="form">
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="newproduct.name" placeholder="Rättens namn">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="newproduct.description" placeholder="Kort beskrivning">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="newproduct.ingredients" placeholder="Ingredienser i rätten">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="newproduct.strong" placeholder="Styrka">
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" ng-model="newproduct.price" placeholder="Pris">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="cancelProduct()">Cancel</button>
                    <button type="submit" class="btn btn-success" ng-click="saveProduct(newproduct)">Spara rätt</button>
                  </form>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <tr ng-repeat="p in products | orderBy:'name'">
                    <td>
                      <dl>
                        <dt>{{p.name}}</dt>
                        <dd>{{p.description}}</dd>
                        <dd>{{p.price}} kr</dd>
                      </dl>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
