<navigation></navigation>
<div class="container navbar-offset">
  <div class="jumbotron jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h1>Dela med dej av dina superrätter</h1>
            <p>och tjäna en slant på köpet</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row marketing text-center">
        <h2>Anmäl ditt intresse så återkommer vi till dig snarast</h2>
        <a href="mailto:kontakt@tejst.se" class="btn btn-success">Klicka här</a>
      </div>
    </div>
  </div>
</div>
