<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container-fluid">
    <div class="container">
      <div class="row" ng-repeat="dateAndOffer in dateAndOffers | orderBy: 'sortDate'">
        <div class="container home-offset">
          <div class="border-bottom-line margin-bottom-small">
            <h4 class="text-center">{{dateAndOffer.offers.length}} st {{dateAndOffer.moment}}</h4>
          </div>
          <div ng-repeat="offer in dateAndOffer.offers" class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <img ng-src="{{offer.chef.thumbnail}}">
              <div class="caption">
                <h4>{{offer.product.name}} <span class="pull-right">{{offer.adultPrice}} kr</span></h4>
                <p>{{offer.product.description}}</p>
                <a href="#/chef/{{offer.chef.id}}"><h5>{{offer.chef.firstname}} {{offer.chef.lastname}}</h5></a>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{offer.currentOrders}}" aria-valuemin="0" aria-valuemax="{{offer.maxOrders}}" style="width: {{offer.currentOrders*10}}%">
                    <span class="sr-only"></span>
                  </div>
                  <!--                   <div class="progress-bar progress-bar-warning" style="width: 20%">
                    <span class="sr-only"></span>
                  </div> -->
                </div>
                <ul class="list-inline">
                  <li>
                    <dl>
                      <dt>{{offer.currentOrders}} st</dt>
                      <dd>beställda</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>{{offer.minOrders}} st</dt>
                      <dd>minst</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>{{offer.maxOrders}} st</dt>
                      <dd>högst</dd>
                    </dl>
                  </li>
                </ul>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" ng-click="order(offer)">Lägg i matkassen</button>
                  <!-- <button type="button" class="btn btn-default">Ångra</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
