<navigation></navigation>
<div class="navbar-offset">
  <div class="alert alert-danger" ng-show="error!=null">{{error}}</div>
  <div class="container-fluid">
    <div class="jumbotron jumbo">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row marketing text-center red-text">
              <h1>MATEN ÄR KLAR</h1>
              <p>Beställ hemlagad mat från dina grannar och nya vänner</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo none-border-bottom">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-sm-4 col-md-4">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></h3>
              <h4>Du beställer din mat hos oss</h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h3>
              <h4>Maten tillagas hemma hos din granne</h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="caption">
              <h3><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></h3>
              <h4>Du hämtar maten när den är färdig</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo pitch-time">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>Smaker från hela världen</h2>
            <p>
              Prova rätter du aldrig smakat förut
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="page-header text-center border-none">
        <h1>Vad är du sugen på <large>idag</large>?</h1>
      </div>
    </div>
    <div class="row">
      <img class="img-thumbnail img-responsive border-none" src="images/sallad.jpg">
    </div>
  </div>
  <div class="jumbotron jumbo footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>Behöver du mer information?</h2>
            <a href="#/faq" class="btn btn-info">Klicka här</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
