<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container">
    <div class="jumbotron jumbo none-border-bottom">
      <!-- No order -->
      <div class="container">
        <div class="row">
          <div class="page-header none-border-bottom">
            <h1>Min meny</h1>
            <h3>{{orders.length}} beställningar</h3>
            <dl>
              <table class="table table-hover">
                <tr ng-repeat="o in orders track by $index">
                  <td>
                    <dl>
                      <dt>{{o.offer.deliveryDate}}</dt>
                      <dt>{{o.product.name}} av <a href="#/chef/{{o.chef.id}}">{{o.chef.firstname}}</a></dt>
                      <dd>{{o.product.description}}</dd>
                      <dt>{{o.price}} kr</dt>
                    </dl>
                    <div class="btn-group" role="group" ng-show="o.$delete==undefined">
                      <a class="btn btn-default" role="button" ng-click="o.$delete=true">Avboka</a>
                    </div>
                    <div class="btn-group" role="group" ng-show="o.$delete==true">
                      <h5>Är du säker på att avboka {{o.product.name}}?</h5>
                      <button type="button" class="btn btn-default" ng-click="removeOrder(o)">Japp</button>
                      <button type="button" class="btn btn-default" ng-click="o.$delete=undefined">Avbryt</button>
                    </div>
                  </td>
                </tr>
              </table>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
