<home-navigation></home-navigation>
<div class="home-offset">
  <div class="container">
    <div class="jumbotron jumbo none-border-bottom">
      <!-- No order -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row marketing text-center">
              <img ng-src="{{product.image}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="page-header none-border-bottom">
            <h3>{{product.name}} {{product.price}} kr</h3>
            <dl>{{product.description}}</dl>
            <h4>Ingredients</h4>
            <div>
              <dl>{{product.ingredients}}</dl>
            </div>
            <div class="btn-group" role="group">
              <p><a class="btn btn-success" role="button" ng-click="order(product)">Beställ</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
